$primary: #ebebeb;
$secondary: #7d617b;
$secondary-fade: #7d617b80;
$third: #614b5f;
$third-fade: #614b5f80;
$accent: #ad8cbb;
$danger: #bc4747;
$warning: #e6d755;
$info: #468ae2;

$text-primary: #000;
