@use "./colors.scss" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #{$primary};
  --foreground: #{$text-primary};
}

@layer base {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-3 {
    @apply flex items-center gap-3;
  }
  .skew-border {
    @apply rounded-ss-3xl rounded-se-md rounded-ee-3xl rounded-es-md;
  }
  .regular-btn-padding {
    @apply px-3 py-1;
  }
  .regular-btn-padding-xl {
    @apply px-5 py-3;
  }
  .trans-3 {
    @apply transition-all duration-300;
  }
  .form-input {
    @apply bg-transparent p-2 focus:outline-none;
  }
  .bot-border {
    @apply border-b border-black;
  }
  .info-circle {
    @apply shrink-0 flex-center justify-center rounded-full;
  }
  .main-container {
    @apply p-6 flex flex-col gap-3 h-full;
  }
}
.ReactModal__Overlay {
  background-color: #00000020 !important;
}
.default-modal {
  width: 100%;
  max-width: 85%;
  min-width: 330px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;
  background-color: #fff;
  &.sm {
    width: unset;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

//colores-bg
.bg-primary {
  background-color: $primary;
}
.bg-accent {
  background-color: $accent;
}
.bg-danger {
  background-color: $danger;
}
.bg-text-primary {
  background-color: $text-primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-secondary-fade {
  background-color: $secondary-fade;
}
.bg-third {
  background-color: $third;
}
.bg-third-fade {
  background-color: $third-fade;
}
.bg-warning {
  background-color: $warning;
}

//colores-texto
.text-primary {
  color: $primary;
}
.text-accent {
  color: $accent;
}
.text-danger {
  color: $danger;
}
.text-text-primary {
  color: $text-primary;
}
.text-secondary {
  color: $secondary;
}
.text-secondary-fade {
  color: $secondary-fade;
}
.text-third {
  color: $third;
}
.text-third-fade {
  color: $third-fade;
}
.text-warnign {
  color: $warning;
}
